/* Coolors Exported Palette - coolors.co/e4572e-29335c-f3a712-a8c686-669bbc */

/* HSL */
$color1: hsla(14%, 77%, 54%, 1);
$color2: hsla(228%, 38%, 26%, 1);
$color3: hsla(40%, 90%, 51%, 1);
$color4: hsla(88%, 36%, 65%, 1);
$color5: hsla(203%, 39%, 57%, 1);

/* RGB */
$color1: rgba(228, 87, 46, 1);
$color2: rgba(41, 51, 92, 1);
$color3: rgba(243, 167, 18, 1);
$color4: rgba(168, 198, 134, 1);
$color5: rgba(102, 155, 188, 1);